
#top #wrap_all .avia-gallery-1 .avia-gallery-thumb a {
    padding: 10px;
}
#top div .avia-gallery img {
    background-color: transparent;
    padding: 0;
    border: solid 2px #ffffff;

}

.avia-video, .avia-iframe-wrap {
    margin-bottom: 0;
    border: solid 2px #ffffff !important;
}
