

$desktop_media: "(min-width: 971px)";
$tablet_media: "(min-width: 768px) and (max-width: 970px)";
$phone_media: "(max-width: 767px)";

$color__primary: #005f84;

$top_bar_bg: #0b5071;
$top_bar_font: #ffffff;

$color__menu_fg: $color__primary;
$color__menu_bg: #ede9df;

$header_trans_bg: #ffffff;
$subpage_title: #ffffff;
$subpage_title_bg: rgba(125, 167, 173, 0.8);

// $color__brown: #cd1a1b;
// $color_lt_brown: #d7cec6;
$color__gray: #999999;
// $color__green: #3f6550;
