
.paragraph {
    padding: 10px 0 10px 0;

    @media #{$tablet_media} {
        padding: 10px 0 20px 0;
    }
    @media #{$phone_media} {
        padding: 10px 0 20px 0;
    }
}

@import "basic_wysiwyg";
@import "all_products";
@import "photo_gallery";
@import "page_title";
